.container {
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
  height: 100%;
  width: 100%;
  flex: 1;
}

.center {
  margin: auto;
  max-width: 80%;
  text-align: center
}
