<div class="wrap container-fluid" style="position: absolute;">
  <div class="row">
      <div class="col-xs-12">
        <h2>Vos notifications</h2>
      </div>
  </div>
  <div *ngIf="notifications && notifications.length > 0">
    <mat-nav-list>
      <div *ngFor="let notif of notifications" mat-list-item style="height:auto">
        <span style="color:red">{{notif.type}}</span>
        <br/>{{notif.message}}
      </div>
    </mat-nav-list>
    <button class="btn" style="margin-top:20px" (click)="validateNotifications()">Marquer les notifications comme lues</button>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h2>Toutes nos voitures</h2>
    </div>
  </div>
  <div class="row">
    <div *ngFor="let car of cars" class="col-xs-3 spacing-16">
      <app-card
        id="{{car.id}}"
        title="{{car.model}}"
        text="{{car.description}}"
        image="{{(car.image && 'assets/image/' + car.image) || 'assets/image/placeholder.png'}}"
      >
      </app-card>
    </div>
  </div>
</div>