.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  border-right: 1px solid #eee;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.notif {
  color: red;
  font-size: 12px;
}