<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">
    <mat-toolbar>Bienvenue <br/> {{name}}</mat-toolbar>
    <mat-nav-list>
      <a *ngIf="online" mat-list-item routerLink="/content">Accueil <span *ngIf="hasNotif" class="notif"> (nouveau)</span></a>
      <a *ngIf="online && type=='EMPLOYEE'" mat-list-item routerLink="/myrent">Ma location</a>
      <a *ngIf="online" mat-list-item (click)="logout()">Se déconnecter</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" *ngIf="isHandset$ | async">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
