.tag {
  background: #eee;
  border-radius: 3px 0 0 3px;
  color: rgba(0,0,0,.87);
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 20px 0 23px;
  position: relative;
  margin: 0 10px 10px 0;
  text-decoration: none;
}

.tag::before {
  background: #fafafa;
  border-radius: 10px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
  content: '';
  height: 6px;
  left: 10px;
  position: absolute;
  width: 6px;
  top: 10px;
}

.tag::after {
  background: #fafafa;
  border-bottom: 13px solid transparent;
  border-left: 10px solid #eee;
  border-top: 13px solid transparent;
  content: '';
  position: absolute;
  right: 0;
  top: 0;
}

.red:hover {
  background-color: crimson;
  color: white;
}

.red:hover::after {
  border-left-color: crimson;
}

.blue:hover {
  background-color: dodgerblue;
  color: white;
}

.blue:hover::after {
  border-left-color: dodgerblue;
}

.green:hover {
  background-color: lawngreen;
  color: white;
}

.green:hover::after {
  border-left-color: lawngreen;
}