<ngx-smart-modal #rentingModal identifier="rentingModal">
  <h1>Location</h1>
  <p *ngIf="isRented">Vous avez loué {{car.model}}</p>
  <p *ngIf="!isRented">Cette voiture est déjà louée, vous êtes mis sur liste d'attente.<br/>
    Vous recevrez une notification quand la voiture sera disponible.
  </p>
  <button class="btn" (click)="rentingModal.close()">Fermer</button>
</ngx-smart-modal>
<div class="wrap container-fluid">
  <div class="row">
    <div class="col-xs-12 col-lg-6 spacing-16">
      <div class="col-xs-12">
        <img src='assets/image/{{car.image}}' class="image"/>
      </div>
    </div>
    <div class="col-xs-12 col-lg-6 spacing-16">
      <div class="row">
        <div class="col-xs-12">
          <h1>{{car.model}}</h1>
        </div>
        <div class="col-xs-12">
          <p>{{car.description}}</p>
        </div>
        <div class="col-xs-12">
          <span style="color:red;font-size:20px;">{{price | currency:currentMoney}}</span>
        </div>
        <div class="col-xs-12">
          <app-tag color='blue' text='{{car.engine | titlecase}}'></app-tag>
          <app-tag color='blue' text='{{"" + car.power + " Chevaux"}}'></app-tag>
        </div>
        <div class="col-xs-12">
          <select class="coolselect" (change)="selectChange($event.target.value)">
            <option>EUR</option>
            <option *ngFor="let currency of currencyConverter">{{currency['id']}}</option>
          </select>
            <button *ngIf="type=='EMPLOYEE'" class="btn" (click)="rentThisCar()" [disabled]="!canRent">Louer</button>
            <button style="margin:0;margin-top:10px;" *ngIf="type=='CUSTOMER'" class="btn" (click)="buyThisCar()">Acheter</button>
            <div class="col-xs-12" *ngIf="!canRent">
              <p>
                Vous louez déjà une voiture.
              </p>
            </div>
        </div>
        <div class="col-xs-12" *ngIf="type=='EMPLOYEE' && car.currentRenter && canRent">
          <p>
            Cette voiture n'est pas disponible.
            <span *ngIf="car.pendingUsers > 0">Il y a actuellement {{car.pendingUsers}} personnes en attente pour louer cette voiture. </span>
            <span>Cliquez sur louer si vous souhaitez être placé en file d'attente.</span>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <h2>Les avis</h2>
        </div>
        <div class="col-xs-12">
          <ul *ngIf="car.marks.length > 0">
            <li *ngFor="let mark of car.marks">
              Note de la voiture: {{mark.carMark}}/5<br/>
              Note de l'état de la voiture: {{mark.stateMark}}/5
              <p style="color:#999;">{{mark.opinion}}</p>
            </li>
          </ul>
          <p *ngIf="car.marks.length === 0">
            Il n'y a aucun avis pour le moment
          </p>
        </div>
      </div>
    </div>
  </div>
</div>