<div class="wrapper" [ngClass]="state ? 'expanded' : ''">
  <div routerLink="/car/{{id}}">
    <div class="item">
      <div class="image-container">
        <img src={{image}} alt="{{title}}" title="{{title}}"/>
      </div>
      <div class="details-container">
        <h4>{{title}}</h4>
        <p>{{truncate(text)}}</p>
      </div>
    </div>
  </div>
</div>

