.item {
  width: 100%;
  height: auto;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  overflow: hidden;
  background-color: white;
}

.item .image-container {
  width: 100%;
  height: auto;
  max-height: 250px;
  overflow: hidden;
}

.item .image-container img {
  width: 100%;
  height: auto;
}

.details-container {
  width: 100%;
  height: auto;
  max-height: 150px;
  padding: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.details-container h4 {
  font-family: inherit;
}

.wrapper {
  transition: background-color ease-in 100ms;
}

.expanded {
  background-color: rgba(0,0,0,0.7);
  position: fixed;
  float: left;
  width: 100%;
  height: 100%;
  margin: auto;
  z-index: 9999;
  top: 0%;
  left: 0%;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.expanded .image-container {
  max-height: 600px;
}

.expanded .item {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: 80%;
  max-height: 60%;
  margin: auto;
  height: auto;
}