textarea {
    min-height:150px;
    height:auto;
    max-width:600px;
    min-width:200px;
    color:#999;
    font-weight:400;
    font-size:12px;
    font-family:'Ubuntu', Helvetica, Arial, sans-serif;
    width:100%;
    background:#fff;
    border-radius:3px;
    line-height:2em;
    border:none;
    box-shadow:0px 0px 5px 1px rgba(0,0,0,0.1);
    padding:10px;
    -webkit-transition: height 2s ease;
  -moz-transition: height 2s ease;
  -ms-transition: height 2s ease;
  -o-transition: height 2s ease;
  transition: height 2s ease;
  }
  
  * {
    -webkit-font-smoothing:antialiased !important;
  }
  