<ngx-smart-modal #releaseModal identifier="releaseModal" *ngIf="hasCar">
  <h1>Votre voiture va être rendue</h1>
  <p>
    Vous pouvez noter la voiture: <br/>
  </p>
  <app-rating [rating]='car.rating' [itemId]='1' (ratingClick)='ratingCar($event)'></app-rating>
  <p style="margin-top:100px">
    Vous pouvez spécifier son état de restitution: <br/>
  </p>
  <app-rating [rating]='car.state' [itemId]='2' (ratingClick)='ratingCarState($event)'></app-rating>
  <p style="margin-top:100px">
    Et laisser un avis sur la voiture: <br/>
  </p>
  <textarea #t type="text"></textarea>
  <button type="submit" style="margin-top:50px" class="btn" (click)="giveBackCar();releaseModal.close()">Rendre et fermer</button>
  <button type="submit" class="btn" style="margin-top:10px" (click)="rateCar(t.value);releaseModal.close()">Rendre et noter</button>
</ngx-smart-modal>

<div class="wrap container-fluid" *ngIf="hasCar">
  <div class="row">
    <div class="col-xs-12">
      <h2>Ma voiture louée</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-6 col-lg-3 spacing-16">
      <app-card
        id="{{car.id}}"
        title="{{car.model}}"
        text="{{car.description}}"
        image="{{(car.image && 'assets/image/' + car.image) || 'assets/image/placeholder.png'}}"
      >
      </app-card>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-3">
      <app-centered-item>
        <button class="btn" (click)="openModal()">Rendre la voiture</button>
      </app-centered-item>
    </div>
  </div>
</div>

<div class="wrap container-fluid" *ngIf="!hasCar">
  <div class="row">
    <div *ngIf="!hasCar">
      <p>Aucune voiture louée</p>
    </div>
  </div>
</div>