<div class="login-page">
  <img src="assets/image/logo.png"/>
  <div class="form">
    <p *ngIf="err[errors.NOTFOUND]"class="error">Votre nom de compte ou mot de passe est incorrect</p>
    <p *ngIf="err[errors.EMPTY]"class="error">Veuillez remplir les deux champs</p>
    <form class="login-form" [formGroup]="authForm" (ngSubmit)="login()">
      <input type="text" formControlName="userName" [value]="email || ''" placeholder="Nom de compte"/>
      <input type="password" formControlName="password" placeholder="Mot de passe"/>
      <button>Se connecter</button>
    </form>
  </div>
</div>